{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<p>TechnoMag — это интернет-магазин, специализирующийся на продаже комплектующих для компьютеров и другой электроники. Мы предлагаем широкий ассортимент продукции от ведущих производителей, чтобы удовлетворить потребности наших клиентов.</p>

<p>Наша миссия — предоставить качественные комплектующие по доступным ценам, обеспечивая при этом высокий уровень обслуживания клиентов. Мы стремимся к тому, чтобы каждый наш клиент был доволен своей покупкой и возвращался к нам снова и снова.</p>

<p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами через нашу страницу контактов.</p>

{% endblock %}
