<!-- templates/app/advantages.html -->
{% extends "app/layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Преимущества интернет-магазина TechnoMag</h1>
    <div class="mt-3">
        <h2>Широкий ассортимент продукции</h2>
        <p>В TechnoMag вы найдете широкий ассортимент комплектующих для ПК от ведущих производителей. Мы предлагаем все необходимые компоненты, от процессоров и материнских плат до оперативной памяти и видеокарт. Наш каталог постоянно обновляется, чтобы предоставить вам самые современные и надежные решения для вашего компьютера.</p>

        <h2>Высокое качество и надежность</h2>
        <p>Мы тщательно отбираем наших поставщиков и продукцию, чтобы гарантировать высокое качество и надежность каждого компонента. Все наши товары проходят строгий контроль качества, что позволяет нам предлагать вам только лучшие решения для вашего ПК.</p>

        <h2>Конкурентоспособные цены</h2>
        <p>TechnoMag предлагает конкурентоспособные цены на все наши товары. Мы стремимся сделать качественные комплектующие доступными для всех, предлагая выгодные скидки и акции. С нами вы сможете собрать мощный и надежный компьютер, не переплачивая.</p>

        <h2>Быстрая доставка</h2>
        <p>Мы понимаем, как важно получить заказанные товары как можно быстрее. Поэтому мы предлагаем быструю доставку по всей территории страны. Ваш заказ будет отправлен в кратчайшие сроки после подтверждения оплаты.</p>

        <h2>Профессиональная поддержка</h2>
        <p>Наша команда профессионалов всегда готова помочь вам с выбором и установкой комплектующих. Мы предоставляем квалифицированную консультацию и поддержку, чтобы вы могли быть уверены в правильности своего выбора.</p>

        <h2>Удобный интерфейс и простота заказа</h2>
        <p>Наш сайт разработан с учетом удобства пользователей. Легко найти нужный товар, сравнить характеристики и оформить заказ в несколько кликов. Мы стремимся сделать процесс покупки максимально простым и приятным.</p>

        <h2>Гарантия и возврат</h2>
        <p>Мы уверены в качестве нашей продукции и предлагаем гарантию на все товары. Если вы недовольны покупкой, мы готовы принять возврат в течение установленного срока и вернуть вам деньги или обменять товар.</p>

        <h2>Отзывы довольных клиентов</h2>
        <p>Мы гордимся многочисленными положительными отзывами наших клиентов. Они подтверждают высокое качество нашей продукции и уровень обслуживания. Присоединяйтесь к сообществу довольных клиентов TechnoMag и убедитесь в этом сами!</p>
    </div>
</div>
{% endblock %}
